<% include ../partials/header %>

<div class="jumbotron">
    <h3>Logget inn som: <%= currentUser.username %></h3>
    <p>Navn: <%= currentUser.name %></p>
    <p>Ble medlem for: <%= moment(currentUser.createdAt).fromNow() %></p>
</div>

<div class="row">

    <div class="col-md">
        <h1>My posts</h1>
        <div class="list-group">
            <% posts.forEach(function(posts){ %>
            <% if( posts.author.id.equals(currentUser._id)) { %>
                <a href="/posts/<%= posts._id %>" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1"><%= posts.title %></h4>
                    <small class="text-muted"><%= moment(posts.createdAt).fromNow() %></small>
                    </div>
                    <p class="mb-1"><%= posts.description %></p>
                    <small class="text-muted"><%= posts.author.name %></small>
                </a>
            <% } %>
            <% }) %>
        </div>
    </div>

    <div class="col-md">
        <h1>My comments</h1>
        <div class="list-group">
            <% comments.forEach(function(comments){ %>
                <% if(comments.author.id.equals(currentUser._id)){ %>
                    <a href="/posts/<%= comments._id %>" class="list-group-item list-group-item-action disabled">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= comments._id %></h5>
                        <small class="text-muted"><%= moment(comments.createdAt).fromNow() %></small>
                        </div>
                        <p class="mb-1"><%= comments.text %></p>
                        <small class="text-muted"><%= comments.author.name %></small>
                    </a>
                <% } %>
            <% }) %>
        </div>
    </div>

</div>

<% include ../partials/footer %>
